@import "./base.css";
body {
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  
  background: linear-gradient(180deg, #FF109F 0%, #64067C 100%);
  
 
  background-attachment: fixed;
  
  color: white;
  font-family: 'Montserrat', sans-serif; 

  
  display: flex;
  flex-direction: column;
}